body{
    font-family: 'Roboto', sans-serif;
}

#mojid{
    color: #70b933;
    font-size: 50px;
}   

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 100;
}
