* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #a2ebc0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    background-color: #75e6a4;
}

header {
    width: 100vw;
    background-color: #b6ec91;
}


header .container {
    padding: 15px;  
    height: 15vh;
    background-color: #b6ec91;
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 100%;
}


header .container .logo img {
    margin-top: 10px;
    margin-left: 30px;
    max-width: 150%;
    max-height: 150%;
}

header .navbar {
    height: 100%;
    display: flex;
}

header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header .navbar ul li {
    align-self: end;
}

header .navbar ul li a {
    text-decoration: none;
    margin: 5px 15px;
    color: #3191a1;
}


header .navbar ul li a:hover {
    color: #00a3c0;
    background-color: #eee99e;
    border-radius: 10px;
    padding: 10px;
}

header .navbar ul li a:active {
    color: #dcfaff;
}

@media (max-width: 600px) {
    header .container {
        padding: 5px; 
    }

    header .container .logo img {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 25px;
        max-width: 120%;
        max-height: 120%;
    }

    header .navbar ul li a {
        margin: 2px 3px;
        /* white-space: nowrap; */
    }

    header .navbar ul li a:hover {
        color: #00a3c0;
        background-color: #eee99e;
        border-radius: 10px;
        padding: 3px;
    }

}

main {
    width: 100vw;
}

main .container {
    padding: 20px;
    /* height: 77vh; */
    display: flex;
    justify-content: space-around;
}

main .container .text {
    flex-basis: 40%;
    align-self: center;
}

main .container .text h2{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    color: #658825;
    margin-bottom: 1em;
}


main .container .boxes {
    flex-basis: 50%;
    min-height: 400px;
    background-color: #bfe7e1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .container .boxes .box {
    width: 20%;
    height: 20%;
    min-width: 5rem;
    max-height: 10rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-of-type(1) {
    align-self: start;
    background-color: #21606b;
    color: #ffffff;
}

.box:nth-of-type(2) {
    background-color: #b8dce2;
}

.box:nth-of-type(3) {
    align-self: end;
    background-color: #2ba16a;
}

@media (max-width: 600px) {
    main .container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main .container .text {
        margin-bottom: 0.5em;
    }

    main .container .text h2{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    main .container .boxes {
        margin-bottom: 0.5em;
    }

    main .container .boxes {
        min-height: 20rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main .container .boxes .box {
        width: 5rem;
        height: 5rem;
        margin: 10px;
    }

}

footer {
    width: 100vw;
    background-color: #72ad4b;
    display: inline-block;
}

footer .container {
    height: 8vh;
    background-color: #72ad4b;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0.3em;  
}

@media (max-width: 600px) {
    footer .container {
        font-size: smaller;
        align-items: center;
        padding-bottom: 0;  
    }

}