* {
    margin: 0;
}



.flex{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: blue;
}
.unutar-flexa-prvi{
    width: 33%;
    height: 300px;
    background-color: rgb(53, 35, 35);
}
.unutar-flexa-drugi{
    width: 33%;
    height: 300px;
    background-color: red;
}
.unutar-flexa-treci{
    width: 33%;
    height: 300px;
    background-color: black;
}

/* .vh-vw{
    height: 100vh;
    width: 50vw;
    background-color: red;
}
.nav{
    height: 10vh;
    background-color: blue ;
} */

/* html{
    font-size: 10px;
}

h1{
    font-size: 1rem;
} 

.em{
    font-size: 3rem;
}

span{
    font-size: 1em;
}
p{
    font-size: 1rem;
} */