* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #797979;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: #412fb3;
    color: #ffffff;
    position: sticky;
    top: 0;
}

header .container {
    height: 100%;
    width: 80%;
}

header .container .head {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    color: #ffffff;
    align-items: center;
}

.navbar ul li {
    padding: 23px;
}

header .container .head .navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.85rem;
}

header .container .head .navbar ul li a:hover{
    color: #d3d3d3;
}

.button1 {
    margin-left: 35px;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 20% / 50%;
    font-weight: bolder;
    color: #525252;
}

.button1:hover {
    color: #ffffff;
    background-color: #412fb3;
    border: 1px solid #ffffff;
}

main {
    display: inline-block;
}

main .container .background {
    width: 100vw;
    height: 700px;
    background-image: url(./background.webp);
    background-position: cover;
}

main .container .background .firstcontent {
    margin: 0 auto;
    max-width: 1300px;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #ffffff;
}

main .container .background .firstcontent img {
    flex-basis: 50%;
}

main .container .background .firstcontent .class1 {
    flex-basis: 30%;
    margin-right: 100px;
}

main .container .background .firstcontent .class1 h1 {
    margin-bottom: 0.7em;
    font-size: 2.5rem;
    line-height: 3rem;
}

main .container .background .firstcontent .class1 p {
    margin-bottom: 3em;
}

.button2 {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 15% / 50%;
    font-weight: bolder;
    color: #525252;
}

.button2:hover {
    color: #ffffff;
    background-color: #412fb3;
    border: 1px solid #ffffff;
}


main .container .class2 {
    margin: 7rem auto;
    width: 50%;
    text-align: center;
}

main .container .class2 h1 {
    font-weight: 700;
    color: #3a414e;
    margin-bottom: 0.7rem;
}

main .container .class2 p {
    color: #797979;
}