body {
    background-color: #CDE7B0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    background-color: #59594a;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 100px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    width: 70%;
    float: left;
    margin-bottom: 100px;
}

aside {
    width: 25%;
    float: right;
}

aside ol li {
    padding: 3px;
}

footer {
    clear: both;
    background-color: #7286a0;
    padding: 20px;
    text-align: center;
}