.glavni{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.a {
    width: 75px;
    height: 75px;
    margin: 15px;
    background-color: #ff0000;
}


@media only screen and (max-width: 600px) {
    .glavni {
        flex-direction: column;
        align-items: start;
    }

    .a {
        background-color: #00ffff;
    }

    .a:nth-of-type(2) {
        align-self: center;
    }

    .a:nth-of-type(3) {
        align-self: end;
    }

    .a:nth-of-type(4) {
        align-self: center;
    }
    
}