* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddae71;
}

.main {
    margin: 10vh auto;
    width: 80vw;
}

.tabela {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fde7cb;
    border-radius: 15px;
    width: 800px;
    height: 300px;
    box-shadow: 10px 10px 10px 10px rgba(105, 24, 24, 0.302);
}

.tabela thead tr{
    border-bottom: 1px dotted #800000;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.tabela tfoot tr td{
    padding-right: 10px;
    border-top: 1px dotted #800000;
    height: 30px;
    text-align: right;
}

.tabela tbody tr td{
    border: 1px dashed #d39254;
    height: 30px;
    text-align: center;
}


.tabela tbody tr td:nth-of-type(1) {
    padding-left: 10px;
    text-align: left;
    vertical-align: bottom;
}

.tabela tbody tr td:nth-of-type(1) {
    width: 10%;
}

.tabela tbody tr td:nth-of-type(2),
.tabela tbody tr td:nth-of-type(3),
.tabela tbody tr td:nth-of-type(4),
.tabela tbody tr td:nth-of-type(5),
.tabela tbody tr td:nth-of-type(6) {
    width:18%;
}

.tabela thead tr:nth-of-type(1){
    font-weight: 600;
    color: #691818;
}

.tabela thead tr:nth-of-type(2){
    font-weight: 550;
    color: #722626;
}

.tabela tbody tr:nth-child(odd) td {
    background-color: #eee3c4;
}