.crypto-list {
  width: 600px;
  border: 2px solid #b4dae2;
  margin-bottom: 0.1rem;
}

.crypto-list-item {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn2 {
  width: 4rem;
  height: 2rem;
  background-color: #ffbca4;
  border: 1px dashed #ff8c63;
  cursor: pointer;
}

.description {
  margin: auto;
  width: 90%;
  background-color: #ffe0d4;
}

.description p {
  text-align: justify;
  font-style: italic;
}
