* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d2b48c;
}

.main {
    background-color: #a6e2b0;
    margin: 15vh auto;
    width: 80%;
    height: 250vh;
    text-align: center;
    position: relative;
}

.boxone {
    background-color: #73bfd6;
    width: 15vw;
    height: 15vh;
    opacity: .5;
    border-radius: 20px;
    position: sticky;
    top: 0;
    left: 12%;
}

.boxtwo {
    background-color: #adcc22;
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
    position: fixed;
    top: 5%;
    right: 3%;
}

.boxthree {
    background-color: #b13c3c;
    width: 15vw;
    height: 15vh;
    position: relative;
    z-index: 5;
}