body {
    background-color: #CDE7B0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    background-color: #59594a;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: 100px auto;
    display: flex;
}

section {
    width: 70%;
    margin-right: 5%;
    align-self: start;
}

aside {
    width: 25%;
    align-self: start;
}

aside ol li {
    padding: 3px;
    list-style-type: lower-alpha;
}

footer {
    background-color: #7286a0;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}