* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #a2ebc0;
    font-size: 16px;
}

.parent {
    margin: 5rem auto;
    width: 25rem;
    height: 25rem;
    background: #d17a7a;
    border-radius: 1em;
}

.child {
    width: 50%;
    height: 50%;
    background: #c8ff30;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s;
}

.parent:hover .child {
    transform: translateY(100%);
    color: #ff0000;
    background: #feeffe;
}