* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hubballi', cursive;
    background-color: #ddae71;
}

.prvi {
    background-color: #b43b3b;
    display: inline-block;
    float: left;
    width: 50%;
    height: 500px;
}

.drugi {
    background-color: #3bb478;
    display: inline-block;
    float: left;
    width: 50%;
    height: 500px;
}

.treci {
    background-color: #9664d6;
    display: inline-block;
    float: left;
    width: 50%;
    height: 500px;
}

.cetvrti {
    background-color: #f7cece;
    display: inline-block;
    float: left;
    width: 50%;
    height: 500px;
}

.oglas {
    margin: 60px auto;
    width: 300px;
    height: 350px;
    background-color: #eee34e;
    border: 1px dashed #8f3b3b;
    border-radius: 20px;
}

.oglas img {
    width: 300px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}

.oglas h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.oglas i,
p {
    margin: 4px 10px 0px 10px;
}

.oglas i span {
    margin-left: 8px;
}

.oglas span:hover,
p:hover {
    color: #754a4a;
}

#mojid:hover {
    color: #3d51a7;
}